$primary: #3498db; // Blue
$primary-dark: #2980b9; //Dark-blue
$secondary:#e67e22 ; // bright orange
$tertiary:#9b59b6; //purple 
$success: #2ecc71; // Green
$danger: #e74c3c; // Red
$warning: #f39c12; // Yellow
$text: #333333; // Dark Grey
$light: #f4f4f4; // Light Grey
$dark:$text;
$medium:#bdc3c7;